<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Something Went Wrong</title>
    <!-- <link rel="stylesheet" href="../css/failure.css">  -->
    <link rel="stylesheet" href="/templates/css/failure.css">
</head>
<body>
    <div class="container">
        <span class="emoji">🚨</span>
        <h1> Oops! <br> Something Went Wrong</h1>
        <p>We couldn’t process your request. Please try again or contact support.</p>
        <a href="/support" class="btn">Contact Support</a>
        <p class="footer-text">Have a <span class="merrylow-text">Merrylow</span> day!</p>
    </div>
</body>
</html>

