<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Failed | Merrylow</title>
    <link rel="stylesheet" href="/templates/css/failure.css"></head>
</head>
<body>
    <div class="container">
        <span class="emoji">⚠️</span>
        <h1>Verification Required</h1>
        <p>Token is missing from the verification link.</p>
        <a href="https://app.merrylow.com/auth/sign-up"  target="_blank" class="btn">Try Again</a>
        <p class="footer-text">Have a <span class="merrylow-text">Merrylow</span> day!</p>
    </div>
</body>
</html>