<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verified | Merrylow</title>
    <link rel="stylesheet" href="/templates/css/success.css">
</head>
<body>
    <div class="container">
        <span class="emoji">🎉</span>
        <h1>Email Verified Successfully!</h1>
        <p>Your account has been created. You can now log in to continue.</p>
        <a href="https://app.merrylow.com/auth/sign-in" class="btn">Go to Login Page</a>
        <p class="footer-text">Have a <span class="merrylow-text">Merrylow</span> day!</p>
    </div>
</body>
</html>
